
@use '../../styles';


.test{
    background-color: styles.$primary;
    font-size: 18vh;
    &:hover{
        cursor: pointer;
    }
}

.row-1 {
    @include styles.flexCenter(row);
}

.col-1 {
    @include styles.flexCenter(column);
    color: #ff00e9;
}

//------------------------------------

//header

.headerContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about{
    font-size: 15px;
    font-weight: 300;
    margin-left: 40%;
    margin: 3%;
}

.title{
    //position: absolute; 
    margin-bottom: 2vh;
    //font-family:'Courgette', cursive;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vh;
    color: rgb(175, 49, 49);
    //margin-right: 4.5vw;
    //margin-left: 38%;
    
}

.profile{
    font-size: 15px;
    font-weight: 300;
    margin-left: 100%;
    margin-left: 500%;
    margin: 3%;
}

