@use '../../styles' as s;

.filter{
    @include s.flexCenter(row);
    justify-content: flex-start;
    margin-left: 4%;
    color: s.$alt;
    margin-bottom: 1%;
    
}

.eventCategory{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    margin-top: 2%;
    img {
        filter: invert(75%);
        height: 18px;
    }
    div {
        margin-left: 4%;
    }
    &:hover{
        cursor: pointer;
        color:#FFC547;
    }
    &:active{ //faz o botao mexer quando clica
        transition:.2s;
    }
}

.selected{
    color: s.$hover;
}

.searchBar{
    align-self: right;
    margin-left: 39vw;
    font-size: 18px;
    width: 80px;
    //height: 20px;
    background: url('./searchicon.png') right no-repeat;
    border: none;
    color: transparent; //when the search shrink what was typed disapers, then put a color in focus
    transition: 1s;
    margin-top: 3%;
    &::placeholder{
        color: transparent;
    }
    &:focus{//make the searchBar grow
        width: 250px;
        margin-left: 27vw;
        transition: 1s;
        background-color: rgba(186, 185, 185, 0.245);
        color: whitesmoke;
        &::placeholder{
            color: rgba(128, 128, 128, 0.6);
            transition: 1s;
        }

    }
}