@use '../../styles' as s;


//header

.headerContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: s.$alt;
}

.about{
    font-size: 20px;
    font-weight: 300;
    margin-left: 40%;
    margin: 3%;
    cursor: pointer;
    &:hover{
        color: s.$hover;
        }
}

.title{
    //position: absolute; 
    margin-bottom: 2vh;
    //font-family:'Courgette', cursive;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9vh;
    color: s.$hover;
    //margin-right: 4.5vw;
    //margin-left: 38%;
    cursor: pointer;
    
}

.profile{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    margin-left: 100%;
    margin-left: 500%;
    margin: 3%;
    &:hover{
    color: s.$hover;
    }
}

