.test {
  background-color: #474554;
  font-size: 18vh;
}
.test:hover {
  cursor: pointer;
}

.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff00e9;
}

.home {
  color: blue;
}

.h1 {
  border-bottom: 4px solid black;
  font-weight: 400;
}

.eventContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5%;
}

.eventContainerTitle {
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
}

h1 {
  margin-left: 7%;
  font-size: 25px;
  font-family: garamond;
}

.eventImage {
  height: 150px;
  width: inherit;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.eventCard {
  background-color: #474554;
  color: white;
  width: 275px;
  height: 400px;
  margin: 18px;
  border-radius: 7px;
}

.eventGenre {
  background-color: rgba(155, 91, 125, 0.0196078431);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 5px 4px 6px;
  border-radius: 2px;
  font-size: 12px;
}

.music {
  background-color: orange;
}

.sports {
  background-color: #b14569;
}

.artstheatre {
  background-color: #1b8a9e;
}

.miscellaneous {
  background-color: #e2c649;
}

.eventInfo {
  margin-left: 7%;
  margin-top: 5%;
  margin-right: 7%;
}
.eventInfo div {
  margin-top: 6%;
}

.eventName {
  font-size: 20px;
  font-weight: bolder;
  font-weight: 700;
}

.eventDate {
  color: #e2c649;
  font-weight: 550;
}

.eventLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.eventLocation img {
  height: 21px;
  filter: grayscale(100%);
  margin-right: 1.5%;
}
.eventLocation div {
  margin-bottom: 5%;
}

.eventButtonContainer {
  display: flex;
  justify-content: center;
}

.eventButton {
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-size: 18px;
}
.eventButton:hover {
  cursor: pointer;
  font-size: 16px;
}
.eventButton:active {
  font-size: 14px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  margin-left: 4%;
}

.eventCategory {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-top: 2%;
}
.eventCategory img {
  height: 18px;
}
.eventCategory div {
  margin-left: 4%;
}
.eventCategory:hover {
  cursor: pointer;
  color: #919191;
}
.eventCategory:active {
  transition: 0.2s;
}

.selected {
  color: #ff05e9;
}

.searchBar {
  align-self: right;
  margin-left: 39vw;
  font-size: 18px;
  width: 80px;
  background: url("https://img.icons8.com/ios-filled/20/000000/search--v1.png") right no-repeat;
  border: none;
  color: transparent;
  transition: 1s;
  margin-top: 3%;
}
.searchBar::-moz-placeholder {
  color: transparent;
}
.searchBar:-ms-input-placeholder {
  color: transparent;
}
.searchBar::placeholder {
  color: transparent;
}
.searchBar:focus {
  width: 250px;
  margin-left: 27vw;
  transition: 1s;
  background-color: rgba(128, 128, 128, 0.245);
  color: black;
}
.searchBar:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -moz-transition: 1s;
  transition: 1s;
}
.searchBar:focus:-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.6);
  -ms-transition: 1s;
  transition: 1s;
}
.searchBar:focus::placeholder {
  color: rgba(128, 128, 128, 0.6);
  transition: 1s;
}

.pageButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

.pageButton {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  margin-right: 1%;
  font-size: 17px;
}
.pageButton:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.pageButton:active {
  transform: scale(0.9);
}
.pageButton:disabled {
  transform: scale(1);
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about {
  font-size: 15px;
  font-weight: 300;
  margin-left: 40%;
  margin: 3%;
  cursor: pointer;
}

.title {
  margin-bottom: 2vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9vh;
  color: rgb(175, 49, 49);
  cursor: pointer;
}

.profile {
  font-size: 15px;
  font-weight: 300;
  margin-left: 100%;
  margin-left: 500%;
  margin: 3%;
}

.aboutPageContainer {
  display: flex;
  justify-content: center;
}

.paragraph {
  font-family: sans-serif;
  margin-right: 2%;
  text-indent: 0.5em;
  line-height: 1.5em;
}

.aboutPage {
  background-color: #474554;
  color: white;
  width: 550px;
  height: 500px;
  margin: 18px;
  border-radius: 7px;
}
.aboutPage h1 {
  font-family: sans-serif;
}
.aboutPage h4 {
  align-self: flex-start;
}

.icons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.icons img {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 3%;
}
.icons.js img {
  cursor: default;
}

.aboutInformation {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

.eventPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 30, 30);
}
.eventPage div {
  border-radius: 7px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 333.3333333333px;
}

.eventPageImage {
  width: 500px;
  height: 333.3333333333px;
  margin-bottom: 3.5%;
  border-radius: 7px;
}

.eventPageDescription {
  background-color: #474554;
  height: 200px;
  width: 500px;
}

.eventPageId {
  background-color: #474554;
  height: 333.3333333333px;
  width: 312.5px;
  margin-bottom: 3.5%;
}

.eventPageLocation {
  background-color: #474554;
  height: 200px;
  width: 312.5px;
}

.page {
  transform: scale(1.1);
  margin-left: 9%;
  margin-right: 9%;
}
.page div {
  margin-top: 15%;
}

.eventHeader {
  font-weight: 600;
  margin-bottom: -10%;
}

.loc {
  margin-left: 12%;
  margin-right: 12%;
}
.loc h3 {
  margin-top: 15%;
  margin-bottom: -1%;
}
.loc h4 {
  margin-top: 15%;
  margin-bottom: -1%;
}
.loc div {
  margin-top: 3%;
}

.eventGenre.page {
  margin-left: 7%;
}

.extraGenres {
  display: flex;
  flex-direction: row;
  transform: scale(0.9);
}
.extraGenres div {
  margin-top: -10%;
  margin-left: -7% !important;
  margin-right: 15%;
}

.eventPageButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.eventPageButtons button {
  transition: 0.5s;
  padding: 7.5px 10px;
}
.eventPageButtons button:hover {
  opacity: 0.8;
  transform: scale(1.15);
  transition: 0.25s;
  transform-origin: center;
  cursor: pointer;
}
.eventPageButtons button:active {
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.25s;
  transform-origin: center;
}
.eventPageButtons button:disabled {
  transition: 0.5s;
  opacity: 0.3;
  transform: scale(1);
  cursor: default;
}

.eventPageButton {
  font-size: 20px;
  margin-right: 5%;
  border-radius: 5px;
  border: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}/*# sourceMappingURL=index.css.map */